In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import regex as re
from datetime import datetime, timedelta
import datetime as dt

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('../data/weather.csv')

In [3]:
df

,Station,Year,Month,Day,Daily Rainfall Total (mm),Highest 30 Min Rainfall (mm),Highest 60 Min Rainfall (mm),Highest 120 Min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h)
0,Admiralty,2020.0,9.0,1.0,1.4,1.4,1.4,1.4,28.9,32.7,26.8,10.3,37.4
1,Admiralty,2020.0,9.0,2.0,2.4,2,2,2,28.2,32.9,26.1,11.4,33.9
2,Admiralty,2020.0,9.0,3.0,6.8,3,4.4,5.2,26.6,29.7,24.8,9.8,25.9
3,Admiralty,2020.0,9.0,4.0,5,3.8,3.8,3.8,27,31.6,25,10.3,31.3
4,Admiralty,2020.0,9.0,5.0,13.4,3.4,4.8,7.2,25,26,23.5,8.3,31.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
228827,Jurong Island,2018.0,12.0,27.0,0.2,0.2,0.2,0.2,28,30,26.2,6.1,28.1
228828,Jurong Island,2018.0,12.0,28.0,0,0,0,0,29.4,32.4,27,6.1,32.4
228829,Jurong Island,2018.0,12.0,29.0,0.2,0.2,0.2,0.2,28.3,30.3,25.6,5.4,29.9
228830,Jurong Island,2018.0,12.0,30.0,0,0,0,0,29.3,33.1,27,8.3,31.7
228831,Jurong Island,2018.0,12.0,31.0,5.2,4.4,4.4,4.4,27.9,32,25.2,6.8,36

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228832 entries, 0 to 228831
Data columns (total 13 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Station                        228832 non-null  object
 1   Year                           228709 non-null  float64
 2   Month                          228709 non-null  float64
 3   Day                            228709 non-null  float64
 4   Daily Rainfall Total (mm)      228832 non-null  object
 5   Highest 30 Min Rainfall (mm)   228648 non-null  object
 6   Highest 60 Min Rainfall (mm)   228648 non-null  object
 7   Highest 120 Min Rainfall (mm)  228648 non-null  object
 8   Mean Temperature (°C)          228832 non-null  object
 9   Maximum Temperature (°C)       228597 non-null  object
 10  Minimum Temperature (°C)       228585 non-null  object
 11  Mean Wind Speed (km/h)         228832 non-null  object
 12  Max Wind Speed (km/h)          228558 non-null  object
dtypes: float64(3), object(10)
memory usage: 22.7+ MB

In [5]:
df.isnull().sum()

Station                            0
Year                             123
Month                            123
Day                              123
Daily Rainfall Total (mm)          0
Highest 30 Min Rainfall (mm)     184
Highest 60 Min Rainfall (mm)     184
Highest 120 Min Rainfall (mm)    184
Mean Temperature (°C)              0
Maximum Temperature (°C)         235
Minimum Temperature (°C)         247
Mean Wind Speed (km/h)             0
Max Wind Speed (km/h)            274
dtype: int64

In [6]:
df.dropna(subset=['Year', 'Month', 'Day'], inplace=True)

In [7]:
max_temp = df[df['Maximum Temperature (°C)'].isnull()]

In [8]:
max_temp

,Station,Year,Month,Day,Daily Rainfall Total (mm),Highest 30 Min Rainfall (mm),Highest 60 Min Rainfall (mm),Highest 120 Min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h)
53303,Sembawang,2017.0,9.0,1.0,5.9,,,,,NaN,NaN,,NaN
53304,Sembawang,2017.0,9.0,2.0,0,,,,,NaN,NaN,,NaN
53305,Sembawang,2017.0,9.0,3.0,0,,,,,NaN,NaN,,NaN
53311,Sembawang,2017.0,9.0,9.0,0,,,,,NaN,NaN,,NaN
53312,Sembawang,2017.0,9.0,10.0,1.6,,,,,NaN,NaN,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
226000,Sembawang,2017.0,10.0,18.0,0,,,,,NaN,NaN,,NaN
226003,Sembawang,2017.0,10.0,21.0,0,,,,,NaN,NaN,,NaN
226004,Sembawang,2017.0,10.0,22.0,0,,,,,NaN,NaN,,NaN
226010,Sembawang,2017.0,10.0,28.0,0,,,,,NaN,NaN,,NaN
226011,Sembawang,2017.0,10.0,29.0,20.4,,,,,NaN,NaN,,NaN

In [9]:
df['Highest 30 Min Rainfall (mm)'][53303]

'\x97'

In [10]:
df = df.replace(u"\x97", "")

In [11]:
df = df.replace('', np.nan)

In [12]:
df.isnull().sum()

Station                               0
Year                                  0
Month                                 0
Day                                   0
Daily Rainfall Total (mm)          5119
Highest 30 Min Rainfall (mm)      59082
Highest 60 Min Rainfall (mm)      59082
Highest 120 Min Rainfall (mm)     59082
Mean Temperature (°C)            122392
Maximum Temperature (°C)         117998
Minimum Temperature (°C)         118012
Mean Wind Speed (km/h)           116599
Max Wind Speed (km/h)            117071
dtype: int64

In [13]:
df = df.astype({"Year":'int', "Month":'int', "Day":'int'})

In [14]:
df = df.astype({"Year":'str', "Month":'str', "Day":'str'})

In [15]:
df["Date"] = df["Year"] + "/" + df["Month"] + "/" + df["Day"]
df

,Station,Year,Month,Day,Daily Rainfall Total (mm),Highest 30 Min Rainfall (mm),Highest 60 Min Rainfall (mm),Highest 120 Min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h),Date
0,Admiralty,2020,9,1,1.4,1.4,1.4,1.4,28.9,32.7,26.8,10.3,37.4,2020/9/1
1,Admiralty,2020,9,2,2.4,2,2,2,28.2,32.9,26.1,11.4,33.9,2020/9/2
2,Admiralty,2020,9,3,6.8,3,4.4,5.2,26.6,29.7,24.8,9.8,25.9,2020/9/3
3,Admiralty,2020,9,4,5,3.8,3.8,3.8,27,31.6,25,10.3,31.3,2020/9/4
4,Admiralty,2020,9,5,13.4,3.4,4.8,7.2,25,26,23.5,8.3,31.3,2020/9/5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228827,Jurong Island,2018,12,27,0.2,0.2,0.2,0.2,28,30,26.2,6.1,28.1,2018/12/27
228828,Jurong Island,2018,12,28,0,0,0,0,29.4,32.4,27,6.1,32.4,2018/12/28
228829,Jurong Island,2018,12,29,0.2,0.2,0.2,0.2,28.3,30.3,25.6,5.4,29.9,2018/12/29
228830,Jurong Island,2018,12,30,0,0,0,0,29.3,33.1,27,8.3,31.7,2018/12/30
228831,Jurong Island,2018,12,31,5.2,4.4,4.4,4.4,27.9,32,25.2,6.8,36,2018/12/31

In [16]:
df.to_csv('../data/weather_cleaned.csv', index=False)

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])  
# df['Date1'] = df.apply(lambda x: x['Date'] - timedelta(days=1), axis=1)
df['daysoffset'] = df['Date'].apply(lambda x: x.weekday(6))
df['start'] = df.apply(lambda x: x['Date'] - timedelta(days=x['daysoffset']), axis=1)
df['end'] = df.apply(lambda x: x['start'] + timedelta(days=6), axis=1)
df['week'] = pd.to_datetime(df['start']).apply(lambda x: x.weekofyear())

In [ ]:
from datetime import datetime, timedelta

day = '01/01/2022'
dt = datetime.strptime(day, '%d/%m/%Y')
start = dt - timedelta(days=dt.weekday())
end = start + timedelta(days=6)

print("Week Start Date:"+str(start))
print("Week End Date:"+str(end))

In [ ]:
df

In [ ]:
df.groupby(['Date'])[['start','end']].max().sort_values(by='Date', ascending = True)

In [ ]:
df.groupby(['Station'])[['start']].rank(ascending=True)